.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;
}

.container .header {
  flex-basis: 60px;
  width: 100%;
  margin: 0;
}

.container .header .header-content {
  height: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .header-content .acount-info {
  width: fit-content;
  height: 100%;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 15px;
}

.container .header .header-content .acount-info .chat-user-avatar {
  border: 1px solid green;
}

.container .header .header-content .acount-info .chat-user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container .header .header-content .header-acount-action {
  height: 100%;
  border: 1px solid #0b2ac2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .body {
  flex-basis: calc(100% - 120px);
  background: #0c1317;
}

.container .footer {
  flex-basis: 60px;
}
